.wildsea.sheet.wildsailor {
    form {
        display: flex;
        flex-direction: column;
    }
    .section-header-label {
        color: white;
        background-color: black;
        padding-left: 10px;
        margin-top: 10px;
    }
}