.wildsea.sheet.wildsailor form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.wildsea.sheet.wildsailor .section-header-label {
  color: white;
  background-color: black;
  padding-left: 10px;
  margin-top: 10px;
}
.wildsea.sheet.wildsailor .subsection-header {
  color: white;
  background-color: grey;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
  min-width: 145px;
}
.wildsea.sheet.wildsailor .section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.wildsea.sheet.wildsailor .section-container .column-1 {
  flex: 1;
  max-width: 350px;
  order: 1;
}
.wildsea.sheet.wildsailor .section-container .column-2 {
  flex: 1;
  min-width: 450px;
  max-width: 800px;
  order: 2;
}
.wildsea.sheet.wildsailor .section-container .column-3 {
  flex: 1;
  order: 3;
  max-width: 300px;
}
.wildsea.sheet.wildsailor .background .inline-background {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}
.wildsea.sheet.wildsailor .background input {
  padding: 5px 5px;
  margin-left: 2px;
  margin-top: 5px;
  width: 74%;
}
.wildsea.sheet.wildsailor .milestones .milestones-subsection {
  display: flex;
  flex-direction: row;
}
.wildsea.sheet.wildsailor .milestones .milestones-subsection .milestones-section {
  width: 300px;
}
.wildsea.sheet.wildsailor .drives input {
  margin-bottom: 5px;
}
.wildsea.sheet.wildsailor .mires .mire-1 input[type=text],
.wildsea.sheet.wildsailor .mires .mire-2 input[type=text],
.wildsea.sheet.wildsailor .mires .mire-3 input[type=text] {
  width: 75%;
  margin-bottom: 5px;
}
.wildsea.sheet.wildsailor .mires .mire-1 input[type=checkbox],
.wildsea.sheet.wildsailor .mires .mire-2 input[type=checkbox],
.wildsea.sheet.wildsailor .mires .mire-3 input[type=checkbox] {
  vertical-align: middle;
}
.wildsea.sheet.wildsailor .edges .edges-subsection {
  display: flex;
  flex-direction: row;
}
.wildsea.sheet.wildsailor .edges .edges-subsection input {
  vertical-align: middle;
}
.wildsea.sheet.wildsailor .skills .skills-grid {
  display: flex;
  flex-direction: column;
}
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 {
  display: flex;
  flex-direction: row;
}
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .movement-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .movement-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .detection-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .detection-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .survival-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .survival-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .creation-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .creation-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .social-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .social-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .combat-skills .inline-label,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .combat-skills .inline-label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .movement-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .movement-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .detection-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .detection-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .survival-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .survival-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .creation-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .creation-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .social-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .social-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-1 .combat-skills input,
.wildsea.sheet.wildsailor .skills .skills-grid .skills-grid-row-2 .combat-skills input {
  width: 25px;
  text-align: center;
  margin-top: 3px;
}
.wildsea.sheet.wildsailor .languages .language-container {
  column-count: 3;
  column-gap: 5px;
}
.wildsea.sheet.wildsailor .languages label {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
}
.wildsea.sheet.wildsailor .languages input {
  text-align: center;
  width: 25px;
  margin-top: 3px;
}
.wildsea.sheet.wildsailor .aspects h1 {
  display: flex;
  flex-direction: row;
}
.wildsea.sheet.wildsailor .aspects h1 .item-create {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: middle;
}
.wildsea.sheet.wildsailor .aspects .aspect-container {
  display: flex;
  flex-direction: column;
}
.wildsea.sheet.wildsailor .aspects .aspect-container .aspect-item .aspect-name {
  width: 50%;
}
.wildsea.sheet.wildsailor .aspects .aspect-container .aspect-item .aspect-trackLength {
  width: 10%;
  text-align: center;
}
.wildsea.sheet.wildsailor .aspects .aspect-container .aspect-item input[type="checkbox"] {
  vertical-align: middle;
}
.wildsea.sheet.wildsailor .aspects .aspect-container .aspect-item .item-delete {
  vertical-align: middle;
}
.wildsea.sheet.wildsailor .aspects .aspect-container .aspect-item .box-container {
  display: flex;
  flex-direction: row;
}
